{% load staticfiles %}
{% load static %}
{% load base_filter %}

{% for line in lines_obj %}
     {% user_annotation_count line.id as user_anno %}
      {% if user_anno.count > 0 %}
        <div class="spaceline"></div>
      {% endif %}
     <div id="line-{% if  model == 'file' %}{{ line.file_linenum }}{% else %}{{ line.function_linenum }}{% endif %}-addannotation" class='line-annotation line-{{ line.id }}-addanno'>
          <span id='line-{{ line.id }}-annotation-count' class='annotations-count clear' rel='{{ line.id }}' style="width: 40px;">
              {% if line.annotations.count > 0 %}
                <div class="annotation-num">{{ line.annotations.count }}</div>
              {% endif %}
              <div class="line-{{ line.id }}-annotation" style="display:none">
                 {% if request.user.is_authenticated %}
                          {% if user_anno.count == 1 %}
                            {% include 'projects/common/annotation.html' %}
                          {% else %}
                            <div class="new_line_annotation_{{ line.id }}_0">
                                <div id="id_content" class="form-group" style="margin-bottom: 5px;">
                                    <div class="controls ">
                                        <textarea name="content" cols="40" rows="5"  class="textarea form-control" required="" id="js-anno-textarea-{{ line.id }}-0" placeholder="Before you watch the annotations your must type your own annotation!!!。"></textarea>
                                    </div>
                                </div>
                                <input class="btn btn-green" type="submit" value="Submit" onclick="submit_annotation({{ line.id }},0)" id="js-anno-submit-{{ line.id }}">
                                <p class="global-errortip js-global-error"></p>
                            </div>
                        {% endif %}
               {% else %}
                    <a class="pull-left" href="{% url 'users:login' %}">登陆</a>
                    <a class="pull-right" href="{% url 'users:register' %}">注册</a>
               {% endif %}
              </div>
          </span>

        <a id="addannotation_{% if  model == 'file' %}{{ line.file_linenum }}{% else %}{{ line.function_linenum }}{% endif %}" rel="{{ line.id }}" class='add_line_annotation' style="display:none">
          <img src="{% static '/image/add.png' %}" class="add_anno_img">
        </a>

        <div class="new_line_annotation_{{ line.id }}" style="display: none;">
        {% if request.user.is_authenticated %}
             {% if user_anno.count == 0 %}
                <div id="id_content" class="form-group" style="margin-bottom: 5px;">
                    <div class="controls ">
                        <textarea name="content" cols="40" rows="5"  class="textarea form-control" required="" id="js-anno-textarea-{{ line.id }}-1" placeholder="Type your Annotation!!! 点击其他位置即可取消。"></textarea>
                    </div>
                </div>
                <input class="btn btn-green" type="submit" value="Submit" onclick="submit_annotation({{ line.id }},1)" id="js-anno-submit-{{ line.id }}">
                <p class="global-errortip js-global-error"></p>
             {% else %}
                 你已经添加过注释，无法再次添加
            {% endif %}
        {% else %}
             <a class="pull-left" href="{% url 'users:login' %}">登陆</a>
                    <a class="pull-right" href="{% url 'users:register' %}">注册</a>
        {% endif %}
        </div>
    </div>
{% endfor %}
