{% load base_filter %}
{% for annotation in line.annotations.all %}
    <div id="annotation-{{ annotation.id }}" class="annotation" data-annotationid="{{ annotation.id }}" >
     {% include 'common/small_vote.html' with vote_obj=annotation %}
       <div class="postcell">
         <div class="annotationpostcell">
           <div class="post-text">
             <div class='blockquote annotationblock' id="annotation-content-{{ annotation.id }}">
                 {{ annotation.content }}
             </div>
            {% if annotation.user_id == request.user.id %}
                  <a style="display: block;margin-left: 20px;" id="annotation-{{ annotation.id }}-edit-button" onclick="edit_button({{ annotation.id }})">Edit</a>
                <div id="id_content " class="form-group annotation-{{ annotation.id }}-edit-form" style="margin-bottom: 5px;display: none" >
                    <div class="controls">
                        <textarea name="content" cols="30" rows="2" class="textarea form-control" required="" id="js-annotation-{{ annotation.id }}-textarea">{{ annotation.content }}</textarea>
                    </div>
                    <input class="btn btn-default js-que-submit" type="submit" value="Submit" onclick="edit_annotation({{ annotation.id }},'{{ annotation.content }}')"  >
                    <button type="button" onclick="cancel()" class="btn btn-default cancel-button pull-right" style="margin-right:5%" name="button">Cancel</button>
                    <p class="global-errortip js-global-error"></p>
                </div>

             {% endif %}
           </div>
         </div>
         <div id="comments">
           {% include 'projects/common/comment.html' with comment_obj=annotation %}
         </div>
       </div>
    </div>
    <script type="application/javascript">

    </script>
{% endfor %}



