{% load static %}
{% load base_filter %}
{% set_index_initial  as index %}
{% for line in lines_obj %}
     {% user_annotation_count request line.id as user_anno %}
     {% if  user_anno.has_anno %}<div class="spaceline" ></div>{% endif %}
     <div id="line-{% if  model == 'file' %}{{ line.file_linenum }}{% else %}{{ line.function_linenum }}{% endif %}-addannotation" class='line-annotation line-{{ line.id }}-addanno'>
        {# 显示代码行的注释及数量#}

         <span id='line-{{ line.id }}-annotation-count' class='annotations-count clear' rel='{{ line.id }}' >
              {% if line.annotations.count > 0 %}
                <div class="annotation-num">{{ line.annotations.count }}</div>
              {% endif %}
              <div class="line-{{ line.id }}-annotation" style="display:none">
                 {% if request.user.is_authenticated %}
                          {% if user_anno.has_anno %}
                            {% include 'projects/common/annotation.html' %}
                          {% else %}
                            <div class="new_line_annotation_{{ line.id }}_0">
                                <div id="id_content" class="form-group" style="margin-bottom: 5px;">
                                    <div class="controls ">
                                        <textarea name="content" cols="40" rows="5"  class="textarea form-control" required="" id="js-anno-textarea-{{ line.id }}-0" placeholder="Before you watch the annotations your must type your own annotation!!!。"></textarea>
                                    </div>
                                </div>
                                <input class="btn btn-green" type="submit" value="Submit" onclick="submit_annotation({{ line.id }},0)" id="js-anno-submit-{{ line.id }}">
                                <p class="global-errortip js-global-error"></p>
                            </div>
                        {% endif %}
               {% else %}
                    <a class="pull-left" href="{% url 'users:login' %}">登陆</a>
                    <a class="pull-right" href="{% url 'users:register' %}">注册</a>
               {% endif %}
              </div>
          </span>
        {# 查看问题图标 #}
         {% if line_question.index %}
             {% get_line_question line_que_obj line line_question.index as line_question %}
         {% else %}
              {% get_line_question line_que_obj line index as line_question %}
         {% endif %}

        {% if line_question.has_question %}
             <a id="line_{% if  model == 'file' %}{{ line.file_linenum }}{% else %}{{ line.function_linenum }}{% endif %}_question_button" rel="{{ line.id }}" class="line_question">
                 <div class="question_img"></div>
             </a>
            <div style="display: none;width:728px;" id="line_{{ line.id }}_question" class="line_question_detail">
            {% if line_question.question.question_type == '3' %}
                {% include 'qa/brief_answers_question.html' with question=line_question.question model=model %}
            {% else %}
                {% include 'qa/option_question.html' with question=line_question.question model=model %}
            {% endif %}

            </div>
        {% endif %}
         {# 添加注释图标#}
        <a id="addannotation_{% if  model == 'file' %}{{ line.file_linenum }}{% else %}{{ line.function_linenum }}{% endif %}" rel="{{ line.id }}" class='add_line_annotation' style="display:none;">
          <img src="{% static '/image/add.png' %}" class="add_anno_img">
        </a>
        {#    添加注释框    #}
        <div class="new_line_annotation_{{ line.id }}" style="display: none;">
        {% if request.user.is_authenticated %}
             {% if not user_anno.has_anno %}
                <div id="id_content" class="form-group" style="margin-bottom: 5px;">
                    <div class="controls ">
                        <textarea name="content" cols="40" rows="5"  class="textarea form-control" required="" id="js-anno-textarea-{{ line.id }}-1" placeholder="Type your Annotation!!! 点击其他位置即可取消。"></textarea>
                    </div>
                </div>
                <input class="btn btn-green" type="submit" value="Submit" onclick="submit_annotation({{ line.id }},1)" id="js-anno-submit-{{ line.id }}">
                <p class="global-errortip js-global-error"></p>
             {% else %}
                 你已经添加过注释，无法再次添加
            {% endif %}
        {% else %}
             <a class="pull-left" href="{% url 'users:login' %}">登陆</a>
             <a class="pull-right" href="{% url 'users:register' %}">注册</a>
        {% endif %}
        </div>
    </div>
{% endfor %}
<script type="text/javascript">
    $(function(){
  $('.line_question').each(function(){
    var lineid = $(this).attr('rel');
    $(this).qtip({
            content: {
                text: $('#line_'+ lineid+'_question')
            },
            position:{
                my:'top left',
{#                at:'center left',#}
                adjust:{method:'shift',
                        x:-350}


            },
            show:'click',
            hide: 'unfocus',
            style: {
                      widget: true,
                      classes: 'qtip-bootstrap',
                  }
         })
  })
});
</script>