{% load base_filter %}

<div class="snippet-code">
  <div class="snippet-code-linenum">
    <div class='spaceline'></div>
      {% for line in lines %}
          {% user_annotation_count request line.id as user_anno %}
          {% if user_anno.count == 1 %}
            <div class="spacelinenum"></div>
          {% endif %}
        <div id="linenum-{% if  model == 'file' %}{{ line.file_linenum }}{% else %}{{ line.function_linenum }}{% endif %}" class='line-linenum line-{{ line.id }}-num' rel="{% if  model == 'file' %}{{ line.file_linenum }}{% else %}{{ line.function_linenum }}{% endif %}">{% if  model == 'file' %}{{ line.file_linenum }}{% else %}{{ line.function_linenum }}{% endif %}</div>
      {% endfor %}
  </div>
  <div class="snippet-code-line">
    <div class='spaceline'>{% if  model == 'file' %}{{ file.note }}{% else %}{{ function.note }}{% endif %}</div>
    {% for line in lines_obj %}
        {% user_annotation_count request line.id as user_anno %}
           {% if user_anno.has_anno %}
              <div class="spaceline"><pre style="display: inline">{% set_space line.code %}</pre>//{{ user_anno.annos.content }}</div>
          {% endif %}
          <div id="line-{% if  model == 'file' %}{{ line.file_linenum }}{% else %}{{ line.function_linenum }}{% endif %}" class='line-anno line-{{ line.id }}-anno'>
            <pre class="prettyprint">{{ line.code }}</pre>
          </div>
    {% endfor %}
  </div>
  <div class="snippet-code-addannotation">
    <div class='spaceline'></div>
        {% include 'projects/common/anno_stat.html' with lines_obj=lines model=model %}
  </div>
</div>


