<div id='mainbar' role='main' aria-label='blob and question'>
  <div class="snippet" data-fileid='{{ function.id }}' id="blob">
      {% include 'common/vote.html' with vote_obj=function %}
      <div class="postcell">
        {% include 'projects/common/summary.html' with summary_obj=function %}
        {% include 'projects/common/code.html' with lines_obj=lines model='function' %}
        {% include 'projects/common/tag.html' with tag_obj=function %}
        {% include 'common/user_info.html' with user_obj=function %}
      </div>
  </div>
    {% include 'qa/question.html' with question_objs=all_questions q_obj=function  %}
</div>
