{% for answer in answer_obj.answer_set.select_related.all %}
    <div id="answer-{{ answer.id }}" class="answer" data-answerid="{{ answer.id }}" style="display: none">
    {% include 'common/small_vote.html' with vote_obj=answer %}
    <div class="postcell">
      <div class="answerpostcell">
        <div class="post-text">
          <div class='blockquote answerblock'>
             回答： {{ answer.content }}
          </div>
        </div>
        {% include 'common/user_info.html' with user_obj=answer %}
      </div>
    </div>
</div>
{% endfor %}
 <div class="new_answer_{{ answer_obj.id }}">
    <div id="id_content" class="form-group an-form" >
        <div class="controls">
            <textarea name="content" rows="1.5" class="textarea form-control" required="true" id="js-ans-textarea-{{ answer_obj.id }}" placeholder="Type Your Answer!"></textarea>
        </div>
    </div>
    <input class="an-button" type="submit"  value="Submit" id="js-ans-submit-{{ answer_obj.id }}" onclick="submit_answer({{ answer_obj.id }})">
    <p class="global-errortip js-global-error"></p>
 </div>
<a type="button"  onclick='show_more_ans({{ answer_obj.id }})' class='show-more-ans-button-{{ answer_obj.id }}' name="button" style='margin-bottom:10px;color:#606669'>Show More Answers</a>
<a type="button"  onclick='hide_ans({{ answer_obj.id }})' class='hide-ans-button-{{ answer_obj.id }}' style='display:none;color:#606669' name="button">Hide All Answers</a>
<a type="button"  onclick='show_one_an({{ answer_obj.id }})' class='show_one_an_{{ answer_obj.id }}' style='display:none' name="button"></a>
<script type="text/javascript">
    $(function () {
        $('.show_one_an_{{ answer_obj.id}}').click()
    })
</script>