{% load base_filter %}
<div id="question-{{ question.id }}" class="question" data-questionid="{{ question.id }}">
    {% include 'common/vote.html' with vote_obj=question %}
    <div class="postcell ">
      <div class="questionpostcell">
        <div class="post-text">
          <div class='blockquote questionblock'>
            {% if model == 'file' %}
                {{ question.content }}
            {% else %}
                {{ question.function_content }}
            {% endif %}
          </div>
          <div id="question-{{ question.id }}-answers answers">
              <table style="width:100%;">
              {% evaluate_user_answer request question.id as user_stat %}
                <tbody>
                {% for choice in question.question_choices.all %}
                  <tr class='option_item'>
                    <td class='option_name'>
                      <label id='question-{{ question.id }}-answers-{{ choice.choice_position }}' class="option-item">
                        <input type="checkbox" class='ur_radio'  name="question-{{ question.id }}-answers-check" {% if user_stat.have_answered %}disabled="disabled" {% endif %}value="{{ choice.choice_position }}">
                               {% num_to_str choice.choice_position %}:
                      </label>
                    </td>
                    <td class='option_text'>
                        {{ choice.choice_text }}
                  </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
        {% standard_answer question.id as standard %}
        <div class="question-{{ question.id }}-standard-answer" style="display: none">参考答案为: {{ standard.standard_answers }}</div>
        {% if user_stat.have_answered %}
            <div style="color: {% if user_stat.correct %}green{% else %}red;{% endif %};margin-left: 5%;"> 你的答案为：{{ user_stat.user_answer }}  参考答案为: {{ standard.standard_answers }}</div>
             {% include 'qa/option_question_comment.html' with question_comment_obj=question %}
        {% endif %}
    </div>
    {% if user_stat.have_answered == False  %}
        <button onclick="answer_option_question({{ question.id }})" class='pull-right' id="js-question-{{ question.id }}-answer-button">Submit</button>
    {% endif %}

</div>
