{% load crispy_forms_tags %}
{% load base_filter %}
<div id='question'>
    <div id="questions-header">
      <div class="subheader questions-header">
        <h2> {{ question_objs.count }} Questions</h2>
      </div>
    </div>
    {% for question in question_objs %}
        {% if question.question_type == '1' %}
            {% include 'qa/option_question.html' with question=question %}
        {% elif question.question_type == '3' %}
            {% include 'qa/brief_answers_question.html' with question=question %}
        {% endif %}
    {% endfor %}
    <a type="button"  onclick='show_more()' class='show-more-button' name="button" style='margin-bottom:10px;color:#606669'>Show More Questions</a>
    <a type="button"  onclick='hide_question()' class='hide-button' style='display:none;color:#606669' name="button">Hide All Questions</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a type="button"  onclick='hide_last_question()' class='hide-last-button' style='display:none;color:#606669' name="button">Hide Five Questions</a>
    <div>
        <div id="id_content" class="form-group" style="margin-bottom: 5px;">
            <div class="controls">
                <textarea name="content" cols="40" rows="4" class="textarea form-control" required="" id="js-que-textarea" placeholder="Type Your Question!!!"></textarea>
            </div>
        </div>
        <input class="btn btn-green js-que-submit" type="submit" value="Submit"  onclick="add_question('{% get_model_name q_obj %}',{{ q_obj.id }})">
        <p class="global-errortip js-global-error"></p>
    </div>
</div>


