<div id='mainbar' role='main' aria-label='blob and question'>
  <div class="snippet" data-fileid='{{ file.id }}' id="blob">
      {% include 'common/vote.html' with vote_obj=file %}
      <div class="postcell">
         {% include 'projects/common/summary.html' with summary_obj=file %}
        {% include 'projects/common/code.html' with lines_obj=lines model='file' %}
        {% include 'projects/common/tag.html' with tag_obj=file %}
        {% include 'common/user_info.html' with user_obj=file %}
      </div>
  </div>
    {% include 'qa/question.html' with question_objs=all_questions q_obj=file %}
</div>