<div class="module" id="snippets-count">
    <div class="-details platforminfonum" >
        <div class="summarycount"> {{ nums.project_nums }} </div>
        <p class="modelcount">Projects</p>
    </div>
    <div class="-details platforminfonum" >
        <div class="summarycount"> {{ nums.file_nums }} </div>
        <p class="modelcount">Files</p>
    </div>
    <div class="-details platforminfonum" >
        <div class="summarycount">{{ nums.function_nums }}</div>
        <p class='modelcount'>Methods</p>
    </div>
    <div class="-details platforminfonum" >
{#                        <div class="summarycount"> <%= Snippet.count %> </div>#}
        <p class='modelcount'>Snippets</p>
    </div>
</div>