{% load base_filter %}
<div class="votecell" style="width: 40px;">
    <div class="vote-an">
      <!-- 点赞 -->
      <a class="fa sort an-up" onclick="add_vote('{% get_model_name vote_obj %}',{{ vote_obj.id }},1)"></a>
      <!-- 点赞数量 -->
      <span class='{% get_model_name vote_obj %}-{{ vote_obj.id }}-vote-count'>
       {{ vote_obj.get_vote_num }}
      </span>
      <!--  点踩  -->
      <a class="fa sort an-down" onclick="add_vote('{% get_model_name vote_obj %}',{{ vote_obj.id }},-1)"></a>
    </div>
</div>

{% block custom_js %}
    <script>
        function add_vote(vote_type, vote_id,vote_value) {
          $.ajax({
              cache:false,
              type:"POST",
              url: "{% url 'operations:add_vote' %}",
              data:{'vote_id':vote_id, 'vote_type':vote_type, 'vote_value':vote_value},
              async: true,
              beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
              },
              success:function (data) {
                   if(data.status === 'fail'){
                        if(data.msg === '用户未登录'){
                            window.location.href="/login/";
                        }else{
                            alert(data.msg);
                        }
                    }else if(data.status === 'success'){
                       var obj = $('.'+vote_type+'-'+vote_id+'-vote-count')
                       var count = obj.text()
                       if(data.info ==='cancel'){
                               obj.text(Number(count)+Number(data.value))
                       }else{
                           if(vote_value === 1){
                            obj.text(Number(count)+1)
                           }else{
                             obj.text(Number(count)-1)
                           }
                       }
                        alert(data.msg)
                    }
              }
          });
      }
    </script>
{% endblock %}