
<div class="snippet-signature owner pull-right">
  <div class="user-info ">
    <div class="user-gravatar32">
      <a href="/users/136314/flynn84">
           <img src="{{ MEDIA_URL }}{{ user_obj.user.image }}"  class="gravatar-wrapper-32" alt="">
      </a>
    </div>
    <div class="user-details">
        <a href="">{{ user_obj.user.nick_name }}</a>
        <div class="-flair">
          <div class="user-action-time"><span class="relativetime">{{ user_obj.created }}</span>
          </div>
        </div>
    </div>
  </div>
</div>

