{% load staticfiles %}
<div id="sidebar" role="complementary" aria-label="sidebar">
    {% include 'common/site_nums.html' %}
    {% include 'projects/detail/hot_blobs.html' %}
   <div id="snippet-relationship" class="module">
      <h4>Package Explorer</h4>
      <div id='method_tree'></div>
      <div id="locate"></div>
   </div>
</div>
{% block custom_js %}

    <script type="text/javascript">
$(function(){

  $('#method_tree')
    .jstree({
      'core' : {
        'data' : {
          'url': '{% url 'projects:project_tree' project.id %}',
          "dataType" : "json"
          }
      },
      "search" : {"case_sensitive":true, "skip_async":true, "ajax" :{ "url" : '{% url 'projects:project_tree' project.id %}'} },
      "plugins" : ["search"]
  }).on('loaded.jstree', function(e,data) {
    var tmp = getUrlParam('relpath')
      console.log(tmp)
    // 判断是否为project的首页
    if (!tmp && typeof(tmp)!="undefined" && tmp!=0) {
      $('li[aria-level=1]>i').click()
    }else {
      var ab_path = getUrlParam('relpath')
      // 获取相对路径，去除工程名的路径
      var cur_path = ab_path.split('/').slice(1,-1).join('/')
      // 获取节点的text属性
      var file = getUrlParam('text')
      // 点击进行搜索
      $('#locate').click(getCurrentPath(file));
    }
    // 获取href里面的relpath参数，包活工程名在内的路径
  })
  .bind("select_node.jstree", function (e, data) {
    // 获取节点内容
    var file = data.node.text ;
    // 获取节点路径
    // var path = $(this).jstree(true).get_path(data.node,'/')
    var path = data.instance.get_path(data.selected[0],"/",0)
    //  获取rel属性
    var suffix = data.node.a_attr.rel
    var project_id = {{ project.id  }}
    // 判断是文件还是文件夹
    if (typeof(suffix) == 'undefined') {
      // 如果是文件夹目录
        var href  = '/projects/detail/'+ project_id + '/path_find/?relpath='+path+'&text='+file
      if(href == '#')
        return '';
      window.open(href, "_self");
    } else {
      // 如果是文件
      // 获取rel，即路径
      path = '/'+data.node.a_attr.rel
      $.ajax({
        url: '/blobs/1/find_blob.json?path='+path+'&project_id=<%=@project.id  %>',
        dataType: 'json',
        success:function(response){
          // 获取blob的id
          var blob_id = response;
          var href = '/blobs/'+blob_id;
          var parentId = data.node.a_attr.parent_id;
          if(href == '#')
          return '';
          window.open(href, "_self");
        }
      });
    }
  })

})
// 搜索选中当前页面所在树结构的位置
function getCurrentPath(file){
    $("#method_tree").jstree(true).search(file,false, false, '#j1_1');
}
// 获取链接李的属性
function getUrlParam(name) {
   var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
   var r = window.location.search.substr(1).match(reg); //匹配目标参数
   if (r != null) return unescape(r[2]); return null; //返回参数值
  }
</script>
{% endblock %}

