{% load staticfiles %}
{% load static %}
<div id="sidebar" role="complementary" aria-label="sidebar">
    {% include 'common/site_nums.html' %}
    {% include 'projects/detail/hot_blobs.html' %}
   <div id="snippet-relationship" class="module">
      <h4>Package Explorer</h4>
      <div id='method_tree'></div>
      <div id="locate"></div>
   </div>
</div>
{% block custom_js %}

    <script type="text/javascript">
$(function(){
  $('#method_tree').jstree({ 'core' : {
    'data' : {
      'url': '{% url 'projects:project_tree' project.id %}',
      "dataType" : "json"
      }
    }
  }).bind("select_node.jstree", function (e, data) {
    // 获取节点内容
    var file = data.node.text ;
    // 获取节点路径
    // var path = $(this).jstree(true).get_path(data.node,'/')
    var path = data.instance.get_path(data.selected[0],"/",0)
    //  获取rel属性
    var suffix = data.node.a_attr.rel

    var project_id = {{ project.id  }}
    // 判断是文件还是文件夹
    if (typeof(suffix) == 'undefined') {
      // 如果是文件夹目录
      var href =  '/projects/detail/'+ project_id + '/path_find/?relpath='+path+'&text='+file
      if(href == '#')
        return '';
      window.open(href, "_self");
    } else {
      // 如果是文件
      // 获取rel，即路径
      path = '/'+data.node.a_attr.rel
        var href =  '/projects/detail/'+ project_id + '/find_file/?path='+path
             if(href == '#')
        return '';
      window.open(href, "_self");
    }
  }).bind('loaded.jstree', function(e,data) {
    data.instance.open_all()
    $('a.jstree-anchor').each(function(){
      var rel = '/'+$(this).attr('rel')
      if (rel == '{{ file.path }}') {
        $(this).css('color','red')
        $(this).parent('li').siblings().each(function(){
          $(this).children('i').click()
        });
        $(this).parent('li').parent('ul').parent('li').siblings().each(function(){
          $(this).children('i').click()
        });
        $(this).parent('li').parent('ul').parent('li').parent('ul').parent('li').siblings().each(function(){
          $(this).children('i').click()
        });
        $(this).parent('li').parent('ul').parent('li').parent('ul').parent('li').parent('ul').parent('li').siblings().each(function(){
          $(this).children('i').click()
        });
        }
      })
  })


  $('#function_tree').jstree({
    'core': {
      'data': {
        'url': '{% url 'projects:file_function' project.id file.id %}',
        "dataType": "json"
      }
    }
  }).bind('select_node.jstree', function (e, data) {
    var href = data.node.a_attr.href;
    document.location.href = href;
  })

  $('#callee_tree').jstree({
    'core': {
      'data': {
        'url': '{% url 'projects:function_callee' project.id file.id function.id %}',
        "dataType": "json"
      }
    }
  }).bind('select_node.jstree', function (e, data) {
    var href = data.node.a_attr.href;
    var path = $(this).jstree(true).get_path(data.node,'/')
    console.log(path);
    document.location.href = href;
  });

  $('#caller_tree').jstree({
    'core': {
      'data': {
        'url': '{% url 'projects:function_caller' project.id file.id function.id %}',
        "dataType": "json"
      }
    }
  }).bind('select_node.jstree', function (e, data) {
    var href = data.node.a_attr.href;
    document.location.href = href;
    })


})
// 搜索选中当前页面所在树结构的位置
function getCurrentPath(file){
    $("#method_tree").jstree(true).search(file,false, false, '#j1_1');
}
// 获取链接李的属性
function getUrlParam(name) {
   var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
   var r = window.location.search.substr(1).match(reg); //匹配目标参数
   if (r != null) return unescape(r[2]); return null; //返回参数值
  }
</script>
{% endblock %}

