<div class="project_statscontainer" id="project-{{ project.id }}" >
      <div class='project_stat'>
          <div class='project_info'>
              <div class='project_blobs_num'>{{ project.files }}  </div>
              <div style='text-align:center'>Files</div>
          </div>
          <div class='project_info'>
              <div class='project_blobs_num'>{{ project.functions }}</div>
              <div style='text-align:center'>methods</div>
          </div>
          <div class='project_info'>
              <div class='project_blobs_num project_star_num'>12K</div>
              <div style='text-align:center'>Stars</div>
          </div>
          <div class='project_info'>
              <div class='project_blobs_num project_fork_num'style="">31.2K</div>
              <div style='text-align:center'>fork</div>
          </div>
      </div>
</div>